<!DOCTYPE html>
<html>
<head>
	<title>Loosing My Website Virginity</title>
	{{> head}}
</head>
<body>
{{> header}}

    <main class="main home">
      <div class="container">
        <figure class="home-avatar">
           <img src="/LinkedinPic.PNG" alt="LinkedinPic">
        </figure>


<h1><i><strong>Call Luke on 07787408496</strong></i></h1>

{{> footer}}

</body>
</html>


