<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    {{> head}}
  </head>
  <body>
    {{> header}}

    <main class="main home">
      <div class="container">
        <figure class="home-avatar">
          <img src="/LinkedinPic.PNG" alt="LinkedinPic">
        </figure>

        <h1 class="home-title">
          Hello there, my name is Luke Shipley.
        </h1>

        <p class="home-introduction">
          I’m a <strong>Tech consultant, start-Up'ist and aspiring coder</strong> spending my time wondering where all my time has gone.
          <br>
          Our aim is to take your tech to the next level <strong>Lean | Effcient | Agile </strong> at <a href="http://www.LeanLettuce.com/">Lean Lettuce</a>.
        </p>
      </div>
    </main>

    {{> footer}}
  </body>
</html>


